@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f1f3f8;
  --appointment-background: #0e0e0f;
  --appointment-foreground: #18181b;
  --foreground: #e0edff;
  --neutral: #49515d;
  --accent: #2572e9;
  --cta-accent: #d5b40b;
  --cta-accent-border: #483918;
  --appointment-text: #ffffff;
  --appointment-text-muted: #aeaeba;
  --appointment-border: #333333;
  --border: #49515d;
}

@theme inline {
  --color-background: var(--background);
  --color-appointment-background: var(--appointment-background);
  --color-appointment-foreground: var(--appointment-foreground);
  --color-foreground: var(--foreground);
  --color-neutral: var(--neutral);
  --color-accent: var(--accent);
  --color-cta-accent: var(--cta-accent);
  --color-cta-accent-border: var(--cta-accent-border);
  --color-appointment-text: var(--appointment-text);
  --color-appointment-text-muted: var(--appointment-text-muted);
  --color-appointment-border: var(--appointment-border);
  --color-border: var(--border);

  --font-sans: var(--font-arimo);

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 20px;
  --radius-3xl: 24px;

  --text-lg: 1.125rem;
  --text-lg--line-height: normal;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: normal;
  }
}
